.ReminderCard {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8f9fa;

  .Title {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  .EmptyText {
    font-style: italic;
  }

  .NoteItem {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .Content {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1; 

    display: box;
    box-orient: vertical;
    line-clamp: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    }

    .mantine-Badge-root {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.75rem;
    }
  }
}