.root {
    height: 100%;
}

.nav-bar {
    background-color: var(--mantine-color-black);
}

.nav-button {
    display: flex;
    align-items: center;
    margin: 10px 10px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--mantine-color-gray-5);

    svg {
        margin: 0 8px;
    }

    &:hover {
        color: var(--mantine-color-white);
        background-color: var(--mantine-color-dark-4);
    }
}

.nav-button-selected {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-3);
}

.main {
    background-color: var(--mantine-color-white);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
